<!DOCTYPE html>
<html>
<head lang="ru" class="no-js">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<!-- <link href="main.css"  type="text/css"  rel="stylesheet" /> -->
<!-- <link href="template.css"  type="text/css"  data-template-style="true"  rel="stylesheet" /> -->
<!-- <script type="text/javascript" src="main.js" ></script> -->
<title>РэдСтудент - Курсовые, дипломные, контрольные работы на заказ.</title>


<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />

<!--
		<meta name="yandex-verification" content="xxxxxxxxxxxxxxxx">
		<meta name="google-site-verification" content="xxxxxxxxxxxxxxxx">
-->

<link rel="icon" href="/favicon.png" type="image/png" />
<!-- <link rel="shortcut icon" href="/favicon.png" type="image/png" /> -->

<!--[if lt IE 9]>
	<script src="html5shiv.min.js"  data-skip-moving="true"></script>
	<script src="respond.min.js"  data-skip-moving="true"></script>
	<![endif]-->

<!-- CSS LIBRARIES -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css" />

<!-- FONTS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" />
<link href='https://fonts.googleapis.com/css?family=Exo+2:400,300,500,600,700,800&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

<!-- JS LIBRARIES -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>

<!-- FORM STYLER -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.formstyler/1.7.6/jquery.formstyler.min.js"></script>

<!-- SLICK SLIDER -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<!-- START OLD THEME -->
<!-- <link rel="stylesheet" href="jquery-ui-1.9.2.custom.min.css"  type="text/css" media="screen, projection" /> -->

<!--
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
-->
<!-- <script src="jquery-ui-1.9.2.custom.min.js" ></script> -->
<!-- <script src="jquery.bxslider.js" ></script> -->
<!-- <script src="jquery.selectbox.js" ></script> -->
<!-- <script src="jquery.ezmark.min.js" ></script> -->
<!-- <script src="jquery.placeholder.min.js" ></script> -->
<!-- <link rel="stylesheet" href="style.css"  type="text/css" media="screen, projection" /> -->
<!-- <script src="script.js" ></script> -->
<!-- END OLD THEME -->

<!-- MAIN -->
<!-- <script src="scripts.js" ></script> -->
<!-- <script async src="zp.js-pid=1498506"  type="text/javascript"></script> -->
<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div id="wrapper">
  <header>
    <div class="first-header">
      <div class="inner">
        <div class="header-contacts-1"> <i class="fa fa-mobile" aria-hidden="true"></i>
          <div class="phone"><a href="tel:+7(800)775-76-81"> <span>8 800</span> <span>775-76-81</span> </a></div>
          <div class="city-select"> <span>Ваш регион:</span> <a class="change-city" href="#">Россия</a> </div>
        </div>
        <div class="header-contacts-2"> <i class="fa fa-whatsapp" aria-hidden="true"></i>
          <div class="messenger"> <span>8 800 775-76-81</span> <span>WhatsApp / Viber</span> </div>
        </div>
        <div class="header-contacts-3"> <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <div class="email"> <span>info@redstudent.ru</span> <span>Напишите нам</span> </div>
        </div>
        <ul class="nav-1">
         <li><a href="index-8.htm" >Преимущества</a></li>
         <li><a href="index-16.htm" >Гарантии</a></li>
          <li><a href="index-7.htm" >Оплата</a></li>
          <li><a href="index-4.htm" >Новости</a></li>
          <li><a href="index-11.htm" >Акции</a></li>
          <li><a href="index-3.htm" >Отзывы</a></li>
          <li><a href="index-15.htm" >Авторам</a></li>


        </ul>
      </div>
    </div>
    <div class="second-header-wrp">
      <div class="second-header">
        <div class="inner"> <a href="index.htm"  class="index-logo"> <img src="assets/logo.png" /> </a>
          <div class="header-contacts-1"> <i class="fa fa-mobile" aria-hidden="true"></i>
            <div class="phone"><a href="tel:8800775-76-81"> <span>8 800</span> <span>775-76-81</span> </a></div>
            <div class="city-select"> <span>Ваш регион:</span> <a class="change-city" href="#">Россия</a> </div>
          </div>
          <div class="menu-icon"> <img src="assets/menu-icon.png"  alt=""> </div>
          <ul class="nav-2">
            <li><a href="index.htm">Главная</a></li>
            <li><a href="index-1.htm" >Услуги и цены</a></li>
            <li><a href="index-2.htm" >Клиентам</a></li>
            <li><a href="index-5.htm" >О компании</a></li>
            <li><a href="index-14.htm" >Контакты</a></li>
            <li><a href="#callback" class="price_btn">Узнать стоимость</a></li>
            <li class="mobile"><a href="index.htm" >Контакты</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <!-- MAIN CONTENT -->
  <main>
    <div class="top_block">
      <div class="_r mobile">
        <!--<a href="#anchor1" class="top_offer">
			<img src="ac.png" alt="">
		</a>-->
        <form action="/" id="main_form" method="post">
          <h3>Помощь в написании учебных работ</h3>
          <h4>Курсовые, дипломные, контрольные, рефераты и многое другое</h4>
          <input type="text" name="FIO" style="margin-right: 20px;" placeholder="Ваше имя..." required>
          <input type="text" name="EMAIL" placeholder="Ваш E-mail..." required>
          <input type="text" name="PHONE" class="main_form_phone" placeholder="Ваш Телефон...">
          <select name="TYPE_WORK">
            <!-- <option value="">Тип работы</option> -->
            <option>дипломная работа</option>
            <option>курсовая практическая</option>
            <option>курсовая теория</option>
            <option>контрольная</option>
            <option>отчёт по практике</option>
            <option>реферат</option>
            <option>курсовой проект</option>
            <option>бакалаврская</option>
            <option>задачи</option>
            <option>бизнес-план</option>
            <option>доклад</option>
            <option>магистерская</option>
            <option>презентация</option>
            <option>конспект</option>
            <option>кейс</option>
            <option>другое</option>
            <option>диплом 5 глав</option>
          </select>
          <button>Узнать стоимость</button>
          <br>
        </form>
      </div>
      <div class="_l">
        <div class="top_slider">
          <div class="top_slide"> <img src="assets/b-1.jpg"  alt="">
            <div class="top_slide_txt">
              <div class="txt"><span>АВТОРСКИЕ СТУДЕНЧЕСКИЕ РАБОТЫ</span> Контрольные, курсовые, дипломные</div>
               <div class="txt2">Наши специалисты выполняют заказы по любым темам и дисциплинам.</div>
            </div>
            </div>
          <div class="top_slide"> <img src="assets/b-2.jpg"  alt="">
            <div class="top_slide_txt">
              <div class="txt"><span>АВТОРСКИЕ СТУДЕНЧЕСКИЕ РАБОТЫ</span> Контрольные, курсовые, дипломные</div>
               <div class="txt2">Наши специалисты выполняют заказы по любым темам и дисциплинам.</div>
            </div>
           </div>
          <div class="top_slide"> <img src="assets/b-3.jpg"  alt="">
            <div class="top_slide_txt">
              <div class="txt"><span>АВТОРСКИЕ СТУДЕНЧЕСКИЕ РАБОТЫ</span> Контрольные, курсовые, дипломные</div>
               <div class="txt2">Наши специалисты выполняют заказы по любым темам и дисциплинам.</div>
            </div>
           </div>
          <div class="top_slide"> <img src="assets/b-4.jpg"  alt="">
            <div class="top_slide_txt">
            <div class="txt"><span>АВТОРСКИЕ СТУДЕНЧЕСКИЕ РАБОТЫ</span> Контрольные, курсовые, дипломные</div>
               <div class="txt2">Наши специалисты выполняют заказы по любым темам и дисциплинам.</div>
            </div>
           </div>
        </div>
      </div>
      <div class="_r desk">
      <span style="display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;">
        <a href="#" class="top_offer">
			Регистрация
		</a>
        <a href="#" class="top_offer">Войти</a></span>
        <form action="" id="main_form" method="post">
          <h3>Помощь в написании учебных работ</h3>
          <h4>Курсовые, дипломные, контрольные, рефераты и многое другое</h4>
      <div class="sub_ttl"></div>
          <input type="text" name="FIO" style="margin-right: 20px;" placeholder="Ваше имя..." required>
          <input type="text" name="EMAIL" placeholder="Ваш E-mail..." required>
          <input type="text" name="PHONE" class="main_form_phone" placeholder="Ваш Телефон...">
          <select name="TYPE_WORK">
            <option>дипломная работа</option>
            <option>курсовая практическая</option>
            <option>курсовая теория</option>
            <option>контрольная</option>
            <option>отчёт по практике</option>
            <option>реферат</option>
            <option>курсовой проект</option>
            <option>бакалаврская</option>
            <option>задачи</option>
            <option>бизнес-план</option>
            <option>доклад</option>
            <option>магистерская</option>
            <option>презентация</option>
            <option>конспект</option>
            <option>кейс</option>
            <option>другое</option>
            <option>диплом 5 глав</option>
          </select>
          <button>Заказать работу</button>
        </form>

      </div>
    </div>

    <div class="order-block" style="height:240px">
      <div class="inner">
        <div class="ttl">Оставь заявку сейчас и получи<br>
          <span>скидку 10%</span></div>
        <a href="index-11.htm" class="make-order-btn" style="background:#fff; color:#000">Подробнее</a>
      </div>
    </div>
    <div class="main-block" id="anchor1">
    <center>  <div class="text-block hi">
      <div class="inner">  <div class="ttl" style="font-size:50px;">Все очень просто!</div><br><img src="assets/shema.png"  alt="" /> <table style="    width: 86%;
    margin-left: 85px;
    text-align: center;
    font-size: 14px;"><tr><td>Оформляете заказ по телефону<br>или через форму заказа на сайте</td><td>Вносите 25% предоплату</td><td>Автор пишет и высылает<br>
часть работы для ознакомления</td><td>Получаете уведомление<br>
о готовности работы</td><td>Оплачиваете оставшуюся часть<br>
и получаете готовую работу</td></tr></table><br><br></div></div></center>
      <div class="inner">

        <div class="services" style=" max-width:100%">
          <div class="service-block">
            <div class="ttl">Диссертация</div>
            <div class="counter"><span>(999)</span></div>
            <div class="rating"> <img src="assets/rating-5.png"  alt="" /> </div>
            <div>Срок написания: 2-3 недели<br>
              Объем работы: 50-70 страниц<br>
              Автор: преподаватель/аспирант<br>
              Проверка на Антиплагиат<br>
              Договор/Кассовый чек</div>
            <div class="service-btm-block">
              <div class="cost">от 99 р.</div>
              <a href="index-10.htm"  class="make-order-btn">Заказать работу</a> </div>
          </div>
          <div class="service-block">
            <div class="ttl">Дипломная работа</div>
            <div class="counter"><span>(9999)</span></div>
            <div class="rating"> <img src="assets/rating-5.png"  alt="" /> </div>
            <div>Срок написания: 5-7 дней<br>
              Объем работы: 25-30 страниц<br>
              Автор: преподаватель/аспирант<br>
              Проверка на Антиплагиат<br>
              Договор/Кассовый чек</div>
            <div class="service-btm-block">
              <div class="cost">от 99 р.</div>
              <a href="index-10.htm"  class="make-order-btn">Заказать работу</a> </div>
          </div>
          <div class="service-block">
            <div class="ttl">Курсовая работа</div>
            <div class="counter"><span>(99999)</span></div>
            <div class="rating"> <img src="assets/rating-4.png"  alt="" /> </div>
            <div>Срок написания: 5-7 дней<br>
              Объем работы: 20-25 страниц<br>
              Проверка на Антиплагиат<br>
              Дневник и характеристика<br>
              в подарок!</div>
            <div class="service-btm-block">
              <div class="cost">от 99 р.</div>
              <a href="index-10.htm"  class="make-order-btn">Заказать работу</a> </div>
          </div> </div>
            <div class="services">
          <div class="service-block">
            <div class="ttl">Отчет по практике</div>
            <div class="counter"><span>(999)</span></div>
            <div class="rating"> <img src="assets/rating-5.png"  alt="" /> </div>
            <div>Срок написания: 2-3 недели<br>
              Объем работы: 50-70 страниц<br>
              Автор: преподаватель/аспирант<br>
              Проверка на Антиплагиат<br>
              Договор/Кассовый чек</div>
            <div class="service-btm-block">
              <div class="cost">от 99 р.</div>
              <a href="index-10.htm"  class="make-order-btn">Заказать работу</a> </div>
          </div>
          <div class="service-block">
            <div class="ttl">Контрольная работа</div>
            <div class="counter"><span>(9999)</span></div>
            <div class="rating"> <img src="assets/rating-5.png"  alt="" /> </div>
            <div>Срок написания: 5-7 дней<br>
              Объем работы: 25-30 страниц<br>
              Автор: преподаватель/аспирант<br>
              Проверка на Антиплагиат<br>
              Договор/Кассовый чек</div>
            <div class="service-btm-block">
              <div class="cost">от 99 р.</div>
              <a href="index-10.htm"  class="make-order-btn">Заказать работу</a> </div>
          </div>
          <div class="service-block">
            <div class="ttl">Реферат</div>
            <div class="counter"><span>(99999)</span></div>
            <div class="rating"> <img src="assets/rating-4.png"  alt="" /> </div>
            <div>Срок написания: 5-7 дней<br>
              Объем работы: 20-25 страниц<br>
              Проверка на Антиплагиат<br>
              Дневник и характеристика<br>
              в подарок!</div>
            <div class="service-btm-block">
              <div class="cost">от 99 р.</div>
              <a href="index-10.htm"  class="make-order-btn">Заказать работу</a> </div>
          </div>

          <div class="txt">
            <p> Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезызвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия. </p>
            <p> По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
          </div>
        </div>
        <aside class="right-col" style="margin-top:-500px;">
          <div class="right-nav">
            <div class="ttl">Дополнительные услуги</div>
            <ul>
              <li><a href="index-10.htm"  title=""Ответы на билеты> <span>Ответы на билеты</span> </a></li>
              <li><a href="index-10.htm"  title=""Компьютерные чертежи> <span>Компьютерные чертежи</span> </a></li>
              <li><a href="index-10.htm"  title=""Магистерские работы> <span>Магистерские работы</span> </a></li>
              <li><a href="index-10.htm"  title=""Рецензии> <span>Рецензии</span> </a></li>
              <li><a href="index-10.htm"  title=""Проверки качества> <span>Проверки качества</span> </a></li>
              <li><a href="index-10.htm"  title=""Монографии> <span>Монографии</span> </a></li>
              <li><a href="index-10.htm"  title=""Переводы> <span>Переводы</span> </a></li>
              <li><a href="index-10.htm"  title=""Единоразовые консультации> <span>Консультации</span> </a></li>
              <li><a href="index-10.htm"  title=""Эссе> <span>Эссе</span> </a></li>
              <li><a href="index-10.htm"  title=""Репетиторы> <span>Репетиторы</span> </a></li>
              <li><a href="index-10.htm"  title=""Аспиранские рефераты> <span>Аспиранские рефераты</span> </a></li>
              <li><a href="index-10.htm"  title=""Доклады> <span>Доклады</span> </a></li>
              <li><a href="index-10.htm"  title=""Бизнес-планы> <span>Бизнес-планы</span> </a></li>
              <li><a href="index-10.htm"  title=""Публикации статей в Вак> <span>Публикации статей в Вак</span> </a></li>
              <li><a href="index-10.htm"  title=""Компьютерный набор текста> <span>Компьютерный набор текста</span> </a></li>
            </ul>
          </div>
        </aside>
        <div class="news-feedback-block">
          <div class="news-container">
            <div class="ttl">Новости</div>
            <a href="index-12.htm"  class="news-block" id="bx_651765591_13236">
            <div class="news-img"><img src="assets/b9b8b94149e7ae249ace2760d160c197.jpg"  alt="3 совета как подготовиться к презентации" /></div>
            <div class="news-text">
              <p>3 совета как подготовиться к презентации</p>
              <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать</p>
            </div>
            </a> <a href="index-12.htm"  class="news-block" id="bx_651765591_13118">
            <div class="news-img"><img src="assets/b42427ce89aed3a0fd66c57eb3cac4bd.jpg"  alt="Как успешно сдать первую сессию!" /></div>
            <div class="news-text">
              <p>Как успешно сдать первую сессию!</p>
              <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать</p>
            </div>
            </a> <a href="index-12.htm"  class="news-block" id="bx_651765591_13114">
            <div class="news-img"><img src="assets/d79bb798b16a35be4fc517ad335def41.jpg"  alt="Советы студенту по написанию реферата!" /></div>
            <div class="news-text">
              <p>Советы студенту по написанию реферата!</p>
              <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать</p>
            </div>
            </a> <a href="index.htm"  class="more-btn"></a> </div>
             <div class="feedback-wrp">
            <div class="ttl">Вопрос-ответ</div>
            <div class="feedback-container">
              <div class="feedback-block" style="margin-bottom:3px">

          <div class="title_red"><strong>Вопрос:</strong></div>
          <p>Как я узнаю, что заказ готов?</p>
          <div class="title_green"><strong>Ответ: </strong></div>
          <p>Мы уведомим Вам об этом в личном кабинете, по электронной почте и смс.</p>
          <div class="title_red"><strong>Вопрос:</strong></div>
          <p>Какие вы предоставляете гарантии?</p>
          <div class="title_green"><strong>Ответ: </strong></div>
          <p>Каждый клиент может заключить с нами официальный договор. На все выполненные работы мы предоставляем гарантию. Каждая работа проходит контроль качества и проверку в Антиплагиат.</p>

              <a href="#consult" class="leave-fb">Перейти к разделу</a> <a href="index.htm"  class="more-btn"></a> </div>
          </div></div>
          <div class="feedback-wrp">
            <div class="ttl">Отзывы</div>
            <div class="feedback-container">
              <div class="feedback-block">
                <div class="fb-img"><img src="assets/stu.jpg" /></div>
                <div class="fb-txt">
                  <p>Заказывал у них не первую курсовую, все здорово, работают качественно и в срок.</p>
                  <p>Иванов Иван</p>
                </div>
              </div>
              <div class="feedback-block">
                <div class="fb-img"><img src="assets/stu.jpg" /></div>
                <div class="fb-txt">
                  <p>Заказывал у них не первую курсовую, все здорово, работают качественно и в срок.</p>
                  <p>Иванов Иван</p>
                </div>
              </div>
              <a href="#consult" class="leave-fb">Оставить отзыв</a> <a href="index.htm"  class="more-btn"></a> </div>
          </div>



        </div>
      </div>
    </div>
    <div class="text-block">
      <div class="inner">
        <div class="ttl">Закажите работу у нас – успех гарантирован!</div>
        <img src="assets/rhombs.png"  alt="">
        <div class="sub-ttl">Компания «РэдСтудент» предлагает написание дипломов, курсовых, рефератов, отчетов по практике и диссертаций на заказ. </div>
        <p>Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезызвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.</p>
        <p>По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</p>
      </div>
    </div>
    <div class="search-work">
      <div class="inner">
        <div class="ttl">Наши специалисты выполняют заказы по любым темам и дисциплинам.</div>
        <div class="sub-ttl">Помощь в написании учебных работ</div>
        <form action="" class="find-work">
          <input type="text" name="q" value="" id="autocomplete_1" placeholder="Тема работы..." />
          <select name="type">
            <option value="0">- Не выбрано -</option>
            <option value="52" >Бизнес-план</option>
            <option value="41" >Дипломная работа</option>
            <option value="47" >Дипломный проект</option>
            <option value="51" >Доклад</option>
            <option value="45" >Задачи</option>
            <option value="63" >Исследовательская работа</option>
            <option value="43" >Контрольная работа</option>
            <option value="42" >Курсовая работа</option>
            <option value="50" >Курсовой проект</option>
            <option value="67" >Лабораторная работа</option>
            <option value="44" >Отчет по практике</option>
            <option value="48" >Презентация</option>
            <option value="46" >Реферат</option>
            <option value="64" >Реферат для аспирантуры </option>
            <option value="65" >Сочинение</option>
            <option value="68" >Статьи</option>
            <option value="53" >Тесты</option>
            <option value="66" >Чертеж</option>
            <option value="49" >Экзаменационные вопросы</option>
            <option value="62" >Эссе</option>
          </select>
          <select name="category">
            <option value="">- Не выбрано -</option>
            <option value="PR" >PR</option>
            <option value="Автоматизация бухучета" >Автоматизация бухучета</option>
            <option value="Автомобильное хозяйство" >Автомобильное хозяйство</option>
            <option value="Адвокатура" >Адвокатура</option>
            <option value="Административное право" >Административное право</option>
            <option value="Анализ базы данных" >Анализ базы данных</option>
            <option value="Анализ бухгалтерской отчётности" >Анализ бухгалтерской отчётности</option>
            <option value="Анализ хозяйственной деятельности" >Анализ хозяйственной деятельности</option>
            <option value="Анализ хозяйственной деятельности (АХД)" >Анализ хозяйственной деятельности (АХД)</option>
            <option value="Анатомия" >Анатомия</option>
            <option value="Английский" >Английский</option>
            <option value="Анестезиология" >Анестезиология</option>
            <option value="Антикоррозиционная защита" >Антикоррозиционная защита</option>
            <option value="Антикризисное управление" >Антикризисное управление</option>
            <option value="Антропология" >Антропология</option>
            <option value="Арбитражный процесс" >Арбитражный процесс</option>
            <option value="Архивоведение" >Архивоведение</option>
            <option value="Архитектура" >Архитектура</option>
            <option value="Аудит" >Аудит</option>
            <option value="Банковский учет" >Банковский учет</option>
            <option value="Банковское дело" >Банковское дело</option>
            <option value="Банковское право" >Банковское право</option>
            <option value="Безопасность жизнедеятельности" >Безопасность жизнедеятельности</option>
            <option value="Безопасность технологических процессов и производства" >Безопасность технологических процессов и производства</option>
            <option value="Библиография" >Библиография</option>
            <option value="Библиотековедение" >Библиотековедение</option>
            <option value="Бизнес-планирование" >Бизнес-планирование</option>
            <option value="Биология" >Биология</option>
            <option value="Биофизика" >Биофизика</option>
            <option value="Биохимия" >Биохимия</option>
            <option value="Ботаника" >Ботаника</option>
            <option value="Бухгалтерская финансовая отчётность" >Бухгалтерская финансовая отчётность</option>
            <option value="Бухгалтерский и финансовый учет" >Бухгалтерский и финансовый учет</option>
            <option value="Бухгалтерский учет, анализ и аудит" >Бухгалтерский учет, анализ и аудит</option>
            <option value="Бухгалтерское дело" >Бухгалтерское дело</option>
            <option value="Бухучет" >Бухучет</option>
            <option value="Бухучет, анализ и аудит" >Бухучет, анализ и аудит</option>
            <option value="Бюджетная система" >Бюджетная система</option>
            <option value="Бюджетное планирование" >Бюджетное планирование</option>
            <option value="Бюджетное право" >Бюджетное право</option>
            <option value="Бюджетный процесс" >Бюджетный процесс</option>
            <option value="Бюджетный учет" >Бюджетный учет</option>
            <option value="Бюджетный учет и отчетность" >Бюджетный учет и отчетность</option>
            <option value="Валиология" >Валиология</option>
            <option value="Введение в специальность" >Введение в специальность</option>
            <option value="Ветеринарно-санитарное общество" >Ветеринарно-санитарное общество</option>
            <option value="Вещное право" >Вещное право</option>
            <option value="Внешнеэкономическая деятельность" >Внешнеэкономическая деятельность</option>
            <option value="Водоснабжение и водоотведение" >Водоснабжение и водоотведение</option>
            <option value="Возрастная психология" >Возрастная психология</option>
            <option value="Вычислительные системы" >Вычислительные системы</option>
            <option value="Газоснабжение" >Газоснабжение</option>
            <option value="Гендерология" >Гендерология</option>
            <option value="География" >География</option>
            <option value="Геология" >Геология</option>
            <option value="Геология нефти и газа и инженерная геология" >Геология нефти и газа и инженерная геология</option>
            <option value="Геополитика" >Геополитика</option>
            <option value="Гидравлика" >Гидравлика</option>
            <option value="Гидротехническая мелиорация" >Гидротехническая мелиорация</option>
            <option value="Гостиничный и туристический бизнес" >Гостиничный и туристический бизнес</option>
            <option value="Государственная служба" >Государственная служба</option>
            <option value="Государственное и муниципальное управление" >Государственное и муниципальное управление</option>
            <option value="Государственное право" >Государственное право</option>
            <option value="Государственные и муниципальные финансы" >Государственные и муниципальные финансы</option>
            <option value="Государственные учреждения России" >Государственные учреждения России</option>
            <option value="Государственный и муниципальный долг" >Государственный и муниципальный долг</option>
            <option value="Гражданско-процессуальное право" >Гражданско-процессуальное право</option>
            <option value="Гражданское право" >Гражданское право</option>
            <option value="Деловое общение" >Деловое общение</option>
            <option value="Делопроизводство" >Делопроизводство</option>
            <option value="Демография" >Демография</option>
            <option value="Деньги, кредит, банки" >Деньги, кредит, банки</option>
            <option value="Детали машин" >Детали машин</option>
            <option value="Документоведение" >Документоведение</option>
            <option value="Древесиноведение" >Древесиноведение</option>
            <option value="Жилищное право" >Жилищное право</option>
            <option value="Журналистика" >Журналистика</option>
            <option value="Занятость населения" >Занятость населения</option>
            <option value="Зарубежное государство и право" >Зарубежное государство и право</option>
            <option value="Земельное право" >Земельное право</option>
            <option value="Зоология" >Зоология</option>
            <option value="Издательское дело" >Издательское дело</option>
            <option value="Изобразительное искусство" >Изобразительное искусство</option>
            <option value="Имитационное моделирование" >Имитационное моделирование</option>
            <option value="Иммунология" >Иммунология</option>
            <option value="Инвестиции" >Инвестиции</option>
            <option value="Инженерная графика" >Инженерная графика</option>
            <option value="Инженерная деятельность" >Инженерная деятельность</option>
            <option value="Инновационный менеджмент" >Инновационный менеджмент</option>
            <option value="Информатика" >Информатика</option>
            <option value="Информационные ресурсы в менеджменте" >Информационные ресурсы в менеджменте</option>
            <option value="Информационные системы" >Информационные системы</option>
            <option value="Информационные технологии" >Информационные технологии</option>
            <option value="Информационный менеджмент" >Информационный менеджмент</option>
            <option value="Искусство " >Искусство </option>
            <option value="Исследование систем управления" >Исследование систем управления</option>
            <option value="Историография" >Историография</option>
            <option value="История" >История</option>
            <option value="История государства и права" >История государства и права</option>
            <option value="История государства и права зарубежных стран" >История государства и права зарубежных стран</option>
            <option value="История государственности" >История государственности</option>
            <option value="История и теория массовых праздников" >История и теория массовых праздников</option>
            <option value="История культуры" >История культуры</option>
            <option value="История мировой экономики" >История мировой экономики</option>
            <option value="История отечества" >История отечества</option>
            <option value="История психологии" >История психологии</option>
            <option value="История социологии" >История социологии</option>
            <option value="История Татарстана" >История Татарстана</option>
            <option value="Кадровая служба" >Кадровая служба</option>
            <option value="Квалиметрия" >Квалиметрия</option>
            <option value="Клиника интеллектуальных нарушений" >Клиника интеллектуальных нарушений</option>
            <option value="Кожа и меха" >Кожа и меха</option>
            <option value="Коммерция" >Коммерция</option>
            <option value="Коммерческая логистика" >Коммерческая логистика</option>
            <option value="Коммерческое право" >Коммерческое право</option>
            <option value="Композиция костюма" >Композиция костюма</option>
            <option value="Компьютерное моделирование" >Компьютерное моделирование</option>
            <option value="Компьютерные технологии" >Компьютерные технологии</option>
            <option value="Конституционное право" >Конституционное право</option>
            <option value="Конституционное право зарубежных стран" >Конституционное право зарубежных стран</option>
            <option value="Контроль и ревизия" >Контроль и ревизия</option>
            <option value="Конфликтология" >Конфликтология</option>
            <option value="Концепции современного естествознания" >Концепции современного естествознания</option>
            <option value="Корпоративные производственные системы" >Корпоративные производственные системы</option>
            <option value="Кредитная кооперация" >Кредитная кооперация</option>
            <option value="Криминалистика" >Криминалистика</option>
            <option value="Криминология" >Криминология</option>
            <option value="КСЕ" >КСЕ</option>
            <option value="Кулинария" >Кулинария</option>
            <option value="Культура XX века" >Культура XX века</option>
            <option value="Культурология" >Культурология</option>
            <option value="Курортоведение" >Курортоведение</option>
            <option value="Латинский язык" >Латинский язык</option>
            <option value="Лексикология" >Лексикология</option>
            <option value="Лингвистика" >Лингвистика</option>
            <option value="Линейная алгебра" >Линейная алгебра</option>
            <option value="Литература" >Литература</option>
            <option value="Логика" >Логика</option>
            <option value="Логистика" >Логистика</option>
            <option value="Логопедия" >Логопедия</option>
            <option value="Макроэкономика" >Макроэкономика</option>
            <option value="Маркетинг" >Маркетинг</option>
            <option value="Маркетинговые исследования" >Маркетинговые исследования</option>
            <option value="Математика" >Математика</option>
            <option value="Математические методы в экономике" >Математические методы в экономике</option>
            <option value="Математическое моделирование экономики" >Математическое моделирование экономики</option>
            <option value="Материаловедение" >Материаловедение</option>
            <option value="Машины и оборудование химических производств" >Машины и оборудование химических производств</option>
            <option value="МВСО" >МВСО</option>
            <option value="Медицина" >Медицина</option>
            <option value="Медицинская психология" >Медицинская психология</option>
            <option value="Международная статистика" >Международная статистика</option>
            <option value="Международное право" >Международное право</option>
            <option value="Международные отношения" >Международные отношения</option>
            <option value="Международные рынки" >Международные рынки</option>
            <option value="Международные стандарты" >Международные стандарты</option>
            <option value="Международный бизнес" >Международный бизнес</option>
            <option value="Менеджмент" >Менеджмент</option>
            <option value="Менеджмент гостеприимства" >Менеджмент гостеприимства</option>
            <option value="Менеджмент организации" >Менеджмент организации</option>
            <option value="Метод научного исследования" >Метод научного исследования</option>
            <option value="Методика воспитания" >Методика воспитания</option>
            <option value="Методика математического развития" >Методика математического развития</option>
            <option value="Методика преподавания" >Методика преподавания</option>
            <option value="Методика развития речи" >Методика развития речи</option>
            <option value="Методы и модели в экономике" >Методы и модели в экономике</option>
            <option value="Методы и средства измерений" >Методы и средства измерений</option>
            <option value="Метрология" >Метрология</option>
            <option value="Механика" >Механика</option>
            <option value="Микробиология" >Микробиология</option>
            <option value="Микроэкономика" >Микроэкономика</option>
            <option value="Мировая экономика" >Мировая экономика</option>
            <option value="Музейное дело" >Музейное дело</option>
            <option value="Муниципальное право" >Муниципальное право</option>
            <option value="Надежность автоматизированных систем управления" >Надежность автоматизированных систем управления</option>
            <option value="Налоги и налогообложение" >Налоги и налогообложение</option>
            <option value="Налоговая система" >Налоговая система</option>
            <option value="Налоговое администрирование" >Налоговое администрирование</option>
            <option value="Налоговое право" >Налоговое право</option>
            <option value="Налогообложение предприятий" >Налогообложение предприятий</option>
            <option value="Наследственное право" >Наследственное право</option>
            <option value="Нейропсихология" >Нейропсихология</option>
            <option value="Немецкий язык" >Немецкий язык</option>
            <option value="Нормирование труда" >Нормирование труда</option>
            <option value="Нотариат" >Нотариат</option>
            <option value="Общественное здоровье и здравоохранение" >Общественное здоровье и здравоохранение</option>
            <option value="Окружающая среда" >Окружающая среда</option>
            <option value="Организационная психология" >Организационная психология</option>
            <option value="Организационное поведение" >Организационное поведение</option>
            <option value="Организация деятельности коммерческого банка" >Организация деятельности коммерческого банка</option>
            <option value="Организация и оплата труда на предприятиии" >Организация и оплата труда на предприятиии</option>
            <option value="Организация исполнения бюджета" >Организация исполнения бюджета</option>
            <option value="Организация коммерческой деятельности" >Организация коммерческой деятельности</option>
            <option value="Организация коммерческой деятельности предприятий торговли" >Организация коммерческой деятельности предприятий торговли</option>
            <option value="Организация предпринимательства" >Организация предпринимательства</option>
            <option value="Организация производства" >Организация производства</option>
            <option value="Организация труда персонала" >Организация труда персонала</option>
            <option value="Основа коммерческой деятельности" >Основа коммерческой деятельности</option>
            <option value="Основы безопасности труда" >Основы безопасности труда</option>
            <option value="Основы менеджмента" >Основы менеджмента</option>
            <option value="Основы нефтегазового дела" >Основы нефтегазового дела</option>
            <option value="Основы общей психологии" >Основы общей психологии</option>
            <option value="Основы социально-педагогической работы с семьей" >Основы социально-педагогической работы с семьей</option>
            <option value="Основы теории коммуникации" >Основы теории коммуникации</option>
            <option value="Основы электронной коммерции" >Основы электронной коммерции</option>
            <option value="Охрана труда" >Охрана труда</option>
            <option value="Оценка бизнеса" >Оценка бизнеса</option>
            <option value="Оценка рисков" >Оценка рисков</option>
            <option value="Оценка собственности" >Оценка собственности</option>
            <option value="Патофизиология" >Патофизиология</option>
            <option value="Педагогика" >Педагогика</option>
            <option value="Педагогика и психология" >Педагогика и психология</option>
            <option value="Педагогическое просвещение родителей" >Педагогическое просвещение родителей</option>
            <option value="Пенитенциарная педагогика" >Пенитенциарная педагогика</option>
            <option value="Политология" >Политология</option>
            <option value="Потребительские свойства продовольственных товаров" >Потребительские свойства продовольственных товаров</option>
            <option value="Право" >Право</option>
            <option value="Право" >Право</option>
            <option value="Право социального обеспечения" >Право социального обеспечения</option>
            <option value="Правоохранительные органы" >Правоохранительные органы</option>
            <option value="Предпринимательское право" >Предпринимательское право</option>
            <option value="Предприятие" >Предприятие</option>
            <option value="Прикладная информатика в экономике" >Прикладная информатика в экономике</option>
            <option value="Природопользование" >Природопользование</option>
            <option value="Программирование" >Программирование</option>
            <option value="Проектирование информационных систем" >Проектирование информационных систем</option>
            <option value="Проектирование информационных систем" >Проектирование информационных систем</option>
            <option value="Проектирование предприятий общественного питания" >Проектирование предприятий общественного питания</option>
            <option value="Прокурорский надзор" >Прокурорский надзор</option>
            <option value="Промышленная безопасность" >Промышленная безопасность</option>
            <option value="Процессы и аппараты пищевых производств" >Процессы и аппараты пищевых производств</option>
            <option value="Психодиагностика" >Психодиагностика</option>
            <option value="Психология" >Психология</option>
            <option value="Психология труда" >Психология труда</option>
            <option value="Психопаталогия" >Психопаталогия</option>
            <option value="Разработка управленческого решения" >Разработка управленческого решения</option>
            <option value="Режиссура" >Режиссура</option>
            <option value="Реклама" >Реклама</option>
            <option value="Религиоведение" >Религиоведение</option>
            <option value="Римское право" >Римское право</option>
            <option value="Рисование" >Рисование</option>
            <option value="Риторика" >Риторика</option>
            <option value="Русский язык" >Русский язык</option>
            <option value="Рынок ценных бумаг" >Рынок ценных бумаг</option>
            <option value="Связи с общественностью" >Связи с общественностью</option>
            <option value="Сделки с недвижимостью" >Сделки с недвижимостью</option>
            <option value="Селекция растений" >Селекция растений</option>
            <option value="Семейная психология" >Семейная психология</option>
            <option value="Семейное право" >Семейное право</option>
            <option value="Сервисная деятельность" >Сервисная деятельность</option>
            <option value="Системный анализ" >Системный анализ</option>
            <option value="Современный русский литературный язык" >Современный русский литературный язык</option>
            <option value="Социальная педагогика" >Социальная педагогика</option>
            <option value="Социальная работа" >Социальная работа</option>
            <option value="Социальная реабилитация" >Социальная реабилитация</option>
            <option value="Социально-культурная деятельность" >Социально-культурная деятельность</option>
            <option value="Социальное страхование" >Социальное страхование</option>
            <option value="Социология" >Социология</option>
            <option value="Социология управления" >Социология управления</option>
            <option value="Специальная психология" >Специальная психология</option>
            <option value="Стандартизация и сертификация" >Стандартизация и сертификация</option>
            <option value="Статистика" >Статистика</option>
            <option value="Стилистика" >Стилистика</option>
            <option value="Стоматология" >Стоматология</option>
            <option value="Страноведение" >Страноведение</option>
            <option value="Стратегический анализ" >Стратегический анализ</option>
            <option value="Стратегический менеджмент" >Стратегический менеджмент</option>
            <option value="Стратегическое планирование" >Стратегическое планирование</option>
            <option value="Страхование" >Страхование</option>
            <option value="Страховое дело" >Страховое дело</option>
            <option value="Строительные материалы" >Строительные материалы</option>
            <option value="Судебная бухгалтерия" >Судебная бухгалтерия</option>
            <option value="Судоводитель" >Судоводитель</option>
            <option value="Таможенное дело" >Таможенное дело</option>
            <option value="Таможенное право" >Таможенное право</option>
            <option value="Татарская литература" >Татарская литература</option>
            <option value="Татарский язык" >Татарский язык</option>
            <option value="Теоретическая механика" >Теоретическая механика</option>
            <option value="Теория вероятностей" >Теория вероятностей</option>
            <option value="Теория государства и права" >Теория государства и права</option>
            <option value="Теория и практика кооперации" >Теория и практика кооперации</option>
            <option value="Теория и практика массовой информации" >Теория и практика массовой информации</option>
            <option value="Теория механизмов и машин" >Теория механизмов и машин</option>
            <option value="Теория организации" >Теория организации</option>
            <option value="Теория перевода" >Теория перевода</option>
            <option value="Теплоснабжение" >Теплоснабжение</option>
            <option value="Теплотехника" >Теплотехника</option>
            <option value="Технико-экономический анализ предприятия" >Технико-экономический анализ предприятия</option>
            <option value="Техническое оснащение" >Техническое оснащение</option>
            <option value="Технологические основы социально-культурной деятельности" >Технологические основы социально-культурной деятельности</option>
            <option value="Технологические процессы" >Технологические процессы</option>
            <option value="Технология лекарственных форм" >Технология лекарственных форм</option>
            <option value="Технология организации строительства" >Технология организации строительства</option>
            <option value="Технология переработки пластмасс" >Технология переработки пластмасс</option>
            <option value="Технология пищевых производств" >Технология пищевых производств</option>
            <option value="Технология продуктов общественного питания" >Технология продуктов общественного питания</option>
            <option value="Технология производства продукции животноводства" >Технология производства продукции животноводства</option>
            <option value="Товароведение" >Товароведение</option>
            <option value="Трансперсональная психология" >Трансперсональная психология</option>
            <option value="Транспортное право" >Транспортное право</option>
            <option value="Трудовое право" >Трудовое право</option>
            <option value="Турецкий язык" >Турецкий язык</option>
            <option value="Туризм" >Туризм</option>
            <option value="Уголовно-исполнительное право" >Уголовно-исполнительное право</option>
            <option value="Уголовное право" >Уголовное право</option>
            <option value="Уголовный процесс" >Уголовный процесс</option>
            <option value="Управление запасами" >Управление запасами</option>
            <option value="Управление затратами" >Управление затратами</option>
            <option value="Управление качеством" >Управление качеством</option>
            <option value="Управление недвижимостью" >Управление недвижимостью</option>
            <option value="Управление персоналом" >Управление персоналом</option>
            <option value="Управление предприятием" >Управление предприятием</option>
            <option value="Управление проектами" >Управление проектами</option>
            <option value="Управление рисками" >Управление рисками</option>
            <option value="Управление трудовыми ресурсами" >Управление трудовыми ресурсами</option>
            <option value="Управленческие решения" >Управленческие решения</option>
            <option value="Управленческий учет" >Управленческий учет</option>
            <option value="Управленческое консультирование" >Управленческое консультирование</option>
            <option value="Устройство автомобилей" >Устройство автомобилей</option>
            <option value="Учет затрат" >Учет затрат</option>
            <option value="Учет на предприятиях малого бизнеса" >Учет на предприятиях малого бизнеса</option>
            <option value="Фармакология" >Фармакология</option>
            <option value="Фармацевтическая химия" >Фармацевтическая химия</option>
            <option value="Феминология" >Феминология</option>
            <option value="Физика" >Физика</option>
            <option value="Физиология" >Физиология</option>
            <option value="Физическая культура" >Физическая культура</option>
            <option value="Филология" >Филология</option>
            <option value="Философия" >Философия</option>
            <option value="Философия и медицина" >Философия и медицина</option>
            <option value="Финансовая математика" >Финансовая математика</option>
            <option value="Финансовое право" >Финансовое право</option>
            <option value="Финансовый анализ" >Финансовый анализ</option>
            <option value="Финансовый менеджмент" >Финансовый менеджмент</option>
            <option value="Финансовый учет" >Финансовый учет</option>
            <option value="Финансовый учет" >Финансовый учет</option>
            <option value="Финансы" >Финансы</option>
            <option value="Финансы и кредит" >Финансы и кредит</option>
            <option value="Финансы предприятий" >Финансы предприятий</option>
            <option value="Фитопатология" >Фитопатология</option>
            <option value="Фразеология" >Фразеология</option>
            <option value="Французский язык" >Французский язык</option>
            <option value="Химия" >Химия</option>
            <option value="Хирургия" >Хирургия</option>
            <option value="Ценообразование" >Ценообразование</option>
            <option value="Швейное производство" >Швейное производство</option>
            <option value="Экологическое право" >Экологическое право</option>
            <option value="Экология" >Экология</option>
            <option value="Эконометрика" >Эконометрика</option>
            <option value="Экономика" >Экономика</option>
            <option value="Экономика и статистика предприятий" >Экономика и статистика предприятий</option>
            <option value="Экономика и управление на предприятии" >Экономика и управление на предприятии</option>
            <option value="Экономика недвижимости" >Экономика недвижимости</option>
            <option value="Экономика отрасли" >Экономика отрасли</option>
            <option value="Экономика предприятия" >Экономика предприятия</option>
            <option value="Экономика природопользования" >Экономика природопользования</option>
            <option value="Экономико-математические методы" >Экономико-математические методы</option>
            <option value="Экономическая география РФ" >Экономическая география РФ</option>
            <option value="Экономическая теория" >Экономическая теория</option>
            <option value="Экономический анализ" >Экономический анализ</option>
            <option value="Экскурсионный маршрут" >Экскурсионный маршрут</option>
            <option value="Экспертиза качества товаров и услуг" >Экспертиза качества товаров и услуг</option>
            <option value="Экспертные системы" >Экспертные системы</option>
            <option value="Электрические машины" >Электрические машины</option>
            <option value="Электронная коммерция" >Электронная коммерция</option>
            <option value="Электротехника" >Электротехника</option>
            <option value="Энергетика" >Энергетика</option>
            <option value="Этика" >Этика</option>
            <option value="Этнография" >Этнография</option>
            <option value="Этнология" >Этнология</option>
            <option value="Эффективное поведение на рынке труда" >Эффективное поведение на рынке труда</option>
            <option value="Юридическая психология" >Юридическая психология</option>
            <option value="Юриспруденция" >Юриспруденция</option>
            <option value="Юриспруденция" >Юриспруденция</option>
            <option value="Языкознание" >Языкознание</option>
          </select>
          <button type="submit">Узнать стоимость</button>
        </form>
      </div>
    </div>
  </main>
  <!-- /MAIN CONTENT -->

  <pre style="color: #333333; border: 1px solid #cccccc; background-color: #f5f5f5;">
</pre>
  <footer>
    <div class="map-wrp">
      <div class="inner">
        <div class="footer-contacts">
          <div class="ttl">будем на связи!</div>
          <div class="footer-phone"> <i class="fa fa-mobile" aria-hidden="true"></i>
            <div>+7 (800) 775-76-81</div>
            <div>+7 (930) 306-85-12</div>
            <div>+7 (800) 775-76-81</div>
          </div>
          <div class="footer-messenger"> <i class="fa fa-whatsapp" aria-hidden="true"></i>
            <div>+7 (800) 775-76-81</div>
          </div>
          <div class="footer-email"> <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <div>info@redstudent.ru</div>
          </div>
        </div>
        <div class="map-container">
          <div class="ttl">Услуги</div>
          <div class="txt">
          <ul>
          <li><a href="index-10.htm" >Диплом</a></li>
          <li><a href="index-10.htm" >Диссертация</a></li>
          <li><a href="index-10.htm" >Реферат</a></li>
          <li><a href="index-10.htm" >Курсовая</a></li>
          <li><a href="index-10.htm" >Контрольная работа</a></li>
          <li><a href="index-10.htm" >Чертежи</a></li>
          <li><a href="index-10.htm">Отчет по практике</a></li>
        </ul>
        </div>
        </div>
        <div class="footer-callback">
          <div class="ttl">Клиентам</div>
          <ul>
          <li><a href="index-7.htm" >Способы оплаты</a></li>
          <li><a href="index-16.htm" >Гарантии</a></li>
          <li><a href="index-8.htm" >Наши преимущества</a></li>
          <li><a href="index.htm" >Вакансии</a></li>
          <li><a href="index.htm" >Партнерам</a></li>
          <li><a href="index.htm" >Публичная оферта</a></li>
        </ul>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="inner">
        <ul class="footer-nav">
          <li><a href="index-5.htm" >О компании</a></li>
          <li><a href="index-14.htm" >Контакты</a></li>
          <li><a href="index-3.htm" >Отзывы</a></li>
          <li><a href="index-4.htm" >Новости</a></li>
          <li><a href="index-8.htm" >Преимущества</a></li>
          <li><a href="index-11.htm" >Акции</a></li>
          <li><a href="#consult">Оставить отзыв</a></li>
        </ul>
      </div>
    </div>

    <!--<div class="banner_overlay"></div>
<div class="banner_popup">
	<div class="txt">Получи 100 рублей при заказе прямо сейчас</div>
	<a href="#callback" class="make-order-btn">Подробнее</a>
</div>	-->
  </footer>
</div>
<!-- /wrapper -->

<div class="pop pop1">
  <div class="t-pop">Узнать стоимость</div>
  <form id="feedback_call" action="#">

    <div class="field">
      <input class="required" name="PHONE" type="text" placeholder="Ваш телефон" />
    </div>
    <div class="textarea">
      <textarea class="required" name="MESSAGE" placeholder="Ваш комментарий"></textarea>
    </div>
    <br>
    <div class="buts">
      <div class="button">
        <button type="submit">Отправить</button>
      </div>
    </div>
  </form>
</div>

<div class="pop pop2">
  <div class="t-pop">Выберите Ваш город</div>
  <div class="city-list">
    <ul>
      <li><a href="#" code="8 800" phone="775-76-81">Москва</a></li>
      <li><a href="#" code="8 800" phone="775-76-81">Питер</a></li>
      <li><a href="#" code="8 800" phone="775-76-81">Россия</a></li>
      <li><a href="#" code="8 800" phone="775-76-81">Смоленск</a></li>
      <li><a href="#" code="8 800" phone="775-76-81">Брянск</a></li>
      <li><a href="#" code="8 800" phone="775-76-81">Калуга</a></li>
    </ul>
  </div>
</div>
<!--pop-->

<div class="pop pop3">
  <div class="t-pop">Анкета соискателя</div>
  <form id="vacancy" action="#">
    <div class="field">
      <input class="required" name="NAME" type="text" placeholder="Ваше имя" />
    </div>
    <div class="field">
      <input class="required" name="EDUCATION" type="text" placeholder="Образование" />
    </div>
    <div class="field">
      <input class="required" name="PHONE" type="text" placeholder="Телефон" />
    </div>
    <div class="field">
      <input class="required" name="EMAIL" type="text" placeholder="E-mail" />
    </div>
    <div class="textarea">
      <textarea class="required" name="DESCRIPTION" placeholder="О себе"></textarea>
    </div>
    <div class="buts">
      <div class="button">
        <button type="submit">Отправить</button>
      </div>
    </div>
  </form>
</div>

<div class="pop pop4">
  <div class="t-pop">Оставить отзыв</div>
  <form id="consul" action="#">
    <div class="field">
      <input class="required" name="NAME" type="text" placeholder="Ваше имя" />
    </div>
    <div class="field">
      <input class="required" name="EMAIL" type="text" placeholder="Ваш email" />
    </div>
    <div class="textarea">
      <textarea class="required" name="MESSAGE" placeholder="Отзыв"></textarea>
    </div>
    <div class="buts">
      <div class="button">
        <button type="submit">Отправить</button>
      </div>
    </div>
  </form>
</div>

</body>
</html>
